{% extends "dbpedialinks/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="home" %}

    {% include "dbpedialinks/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <ol class="breadcrumb">
      
      {% if entities %}
      <li><a href="{% url 'dbpedialinks:home' %}">Home</a></li>
      <li class="active">Search</li>     
      {% else %}
      <li class="active">Home</li>
      {% endif %}   
    </ol>

    <div class="page-header">
      <h1>Browse SN publications using DBPedia Subjects
        {% if entities %}
          <a class="btn btn-sm btn-default" href="{% url 'dbpedialinks:home' %}">home</a>        
        {% endif %}
      </h1>
    </div>



<div class="container">


    <div class="row">

      {% if entities %}
      <div class="col-md-3" style="margin-top: 20px; ">
      {% else %}
      <div class="col-md-12" style="margin-top: 20px;">
      {% endif %}
      

          <h3>Search <span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 90%;"></span></h3>
          <hr>

          <h5 class="">
              By Keyword:
          </h5>
          <form action="{% url 'dbpedialinks:home'%}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for subject..." name="query" id="query" value="{{ query|default:"" }}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button submit">Go!</button>
            </span>
            
          </div><!-- /input-group -->
          <div style="margin-top: 10px;"><small class="text-muted">Note: search disabled on static-only versions of this prototype</small></div>
          </form>

          

          
          {% if query and not entities %}
          <br />
            <p class="text-danger well" style="-background: lightgreen;">Sorry no results.. 
            <br /><br />Tips:
            <br />* Use single words
            <br />* Singular form
            <br />* English only
            </p>
          {% endif %}
            


          <br />

          <h5>
              By Starting Letter:
          </h5>

          {% for letter in alphabet  %}              
              
            <a class="btn btn-default {% if letter == thisletter %}active{% endif %}" href="{% url 'dbpedialinks:home'%}?letter={{letter}}" style="margin-bottom: 5px;">{{letter|upper}}</a>

           {% endfor %}

        

        </div>


        {% if entities %}
          
          <div class="col-md-8" style="margin-top: 20px;">
                

            {% include 'dbpedialinks/snippet_tagcloud.html' %}

          </div>

        {% else %}

          <div class="col-md-12 well" style="margin-top: 60px;">



            <h2>What is this?</h2><br />

            <p class="lead">

                  This prototype allows to search a collection of 2017 Springer Nature publications tagged with concepts from DBPedia (a Linked Data version of Wikipedia).

                  <br /><br />

                  By using the <a href="https://www.dbpedia-spotlight.org/">DBPedia-Spotlight</a> entity-mining tool, we automatically associated subjects terms to the article abstracts available in <a href="https://scigraph.springernature.com">SN SciGraph</a>. 
                  <br /><br />
                  
                  The purpose of this prototype is to evaluate the quality of the tagging and generate ideas for future applications.

                  <br /><br />
                  For more info, see the project source code on <a href="https://github.com/dbpedia/sci-graph-links/">github</a>. 


                  
                  <br /><br />

            </p>

            <h3>Statistics</h3>

            <p class="lead">Publications: <span style="font-size: 140%;">{{articlestot}}</span>

            </p>
            <p class="lead">DBpedia subjects: <span style="font-size: 140%;">{{entitiestot}}</span>
            </p>
          </div>


        {% endif %}


       </div>

</div> <!-- /container -->



  {% endblock bodycontent %}
