{% load static %}
{% load commontags %}



{% block article_info %}
    
    <b>Title</b>
    <a target="_blank" title="View SN SciGraph Record" href="https://scigraph.springernature.com/pub.{{doi}}">{{title}}
        <span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size: 90%;"></span>
    </a> <span class="text-muted">View SN SciGraph record</span>
    <br /><br />
    <b>DOI</b>
     <a target="_blank" title="View Publication" href="http://dx.doi.org/{{doi}}"> {{doi}}
        <span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size: 90%;"></span>
    </a><span class="text-muted">View publication</span>
    <br /><br />
    <b>Abstract</b>
    {{abstract|trim_unwanted_words}}

{% endblock article_info %}
    

